$color_primary: #f44336;
$color_primary_light: #e5533c;
$color_white: #fff;
$color_blue: #007bff;
$color_blue_focus: #0056b3;
$color_dark_red: #721c24;

$color_gray: #ddd;
$color_gray_0: #333;
$color_gray_1: #444;
$color_gray_2: #555;

$color_error: #e74c3c;

$color_black_box_shadow: rgba(0, 0, 0, 0.1);
$color_black_box_shadow_hover: rgba(0, 0, 0, 0.15);
$color_blue_box_shadow_focus: rgba(0, 123, 255, 0.2);