@use '@/styles' as *;

.nav {
  background-color: $color_gray_0;
  padding: 10px 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.lftNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
}

.appHeadline {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: $color_primary;
  margin: 0;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: $color_white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.userName {
  color: $color_white;
  font-size: 1.2rem;
  margin-inline: 1rem;
}

.navLink:hover {
  color: $color_primary;
}

.logoutButton {
  background-color: $color_primary;
  border: 2px solid transparent;
  color: $color_white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.logoutButton:hover {
  background-color: $color_white;
  color: $color_primary;
  border-color: $color_primary;
}


@include respond-to-md  {
  .navList {
    flex-direction: column;
    align-items: flex-start;
  }

  .navItem {
    margin: 10px 0;
  }

  .lftNav {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .userName {
    margin-inline-start: 0;
  }
}


